@import "https://fonts.googleapis.com/css?family=Pacifico";

@media screen and (max-width: 394px) and (max-height:853px){
    body{
         background: #242121;
     }
 
     h2{
         position: absolute;
         left: 11px;
         top: 0px;
 
         font-family: Pacifico;
         font-style: normal;
         font-weight: normal;
         font-size: 24px;
         line-height: 42px;
 
         color: #88297E;
     }
 
     .usr-but{
         border-radius: 50% !important;
             width: 33px;
             height: 33px;
             position: absolute;
             left: 87.22%;
             right: 3.61%;
             top: 0.78%;
             bottom: 94.06%;
 
             background: #C4C4C4;
             background-image: url("../../../../assets/userlogo.png");
             background-size: 200%;
             background-repeat: no-repeat;
             background-position-x: center;
             background-position-y: center;
     }
 
     #line{
         position: absolute;
         width: 328px;
         height: 0px;
         left: 30px;
         top: 45px;
 
         border: 1px solid #88297E;
         transform: rotate(0.17deg);
     }

     #u{
        position: absolute;
        width: 144px;
        height: 32px;
        left: 16px;
        top: 70px;
        white-space: nowrap;
        font-family: Segoe UI;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
     }

     #line1{
        position: absolute;
        width: 328px;
        height: 0px;
        left: 30px;
        top: 110px;
        
        border: 1px solid #88297E;
        transform: rotate(0.17deg);
     }

     .editlog{
        position: absolute;
        width: 325px;
        height: 353px;
        left: 30px;
        top: 151px;
        
        background: #2F2C2C;
       
        box-shadow: 0px 0px 4px 2px rgba(212, 85, 199, 0.39);
        box-sizing: border-box;
     }

     #slider{
         padding-top: 625px;
     }

     p{
         white-space: nowrap;
     }

     #name{
        position: absolute;
        width: 69px;
        height: 32px;
        left: 6px;
        top: 1px;

        font-family: Segoe UI;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 32px;
        color: #FFFFFF;
     }

     #vc{
        position: absolute;
        width: 125px;
        height: 24px;
        left: 5px;
        top: 75px;

        font-family: Segoe UI;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 24px;
        color: #FFFFFF;
     }

     #vcb{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 282px;
        top: 75px;
        box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.37);
        background: transparent;
        border-radius: 8px;
     }

     #qm{
        position: absolute;
        width: 159px;
        height: 24px;
        left: 5px;
        top: 110px;

        font-family: Segoe UI;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 24px;
        color: #FFFFFF;
            }

     #qmb{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 282px;
        top: 110px;
        box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.37);
        background: transparent;
        border-radius: 8px;
     }

     #pc{
        position: absolute;
        width: 135px;
        height: 24px;
        left: 5px;
        top: 145px;

        font-family: Segoe UI;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 24px;
        color: #FFFFFF;
     }

     #pcb{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 282px;
        top: 145px;
        box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.37);
        background: transparent;
        border-radius: 8px;
     }

     #st{
        position: absolute;
        width: 190px;
        height: 24px;
        left: 5px;
        top: 180px;

        font-family: Segoe UI;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 24px;
        color: #FFFFFF;
     }

     #stb{
        position: absolute;
            width: 24px;
            height: 24px;
            left: 282px;
            top: 180px;
            box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.37);
            background: transparent;
            border-radius: 8px;

     }

     #lt{
        position: absolute;
        width: 172px;
        height: 24px;
        left: 6px;
        top: 215px;

        font-family: Segoe UI;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 24px;
        color: #FFFFFF;
     }

     #ltb{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 283px;
        top: 215px;
        box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.37);
        background: transparent;
        border-radius: 8px;
     }

     #save{
        position: absolute;
        width: 80px;
        height: 50px;
        left: 209px;
        top: 285px;
        color: white;
        background: #88297E;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.95);
        border-radius: 16px;
     }

}